<a href="/dashboard">&larr; Back</a>
<title>Edit Post</title>
<div class="admin-title">
  <h2>View / Edit Post</h2>

  <form action="/delete-post/<%= data._id %>?_method=DELETE" method="post">
    <input onclick="() => alert('delection successful')" type="submit" value="Delete" class="btn-delete btn" />
  </form>
</div>
<script>
</script>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="post">
  <label for="title"><b>Title</b></label>
  <input
    type="text"
    placeholder="Post title"
    id="title"
    name="title"
    value="<%= data.title %>"
  />
  <label for="title"><b>Content</b></label>
  <textarea
    id="body"
    name="body"
    cols="10"
    rows="10"
    placeholder="Start writing..."
  >
<%= data.body %></textarea
  >

  <input type="submit" value="Update" class="btn" />
</form>
