<link rel="stylesheet" href="/css/auth.css" />

<div class="parent-home">
  <h3>Login</h3>

  <form action="/admin" method="post">
    <label for="username"><b>Username</b></label>
    <input
      type="text"
      placeholder="Enter username"
      id="username"
      name="username"
      required
    />
    <label for="password"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter password"
      id="password"
      name="password"
      required
    />
    <input type="submit" value="Login" class="btn" />
  </form>

  <h3>Register</h3>

  <form action="/register" method="post">
    <label for="username"><b>Username</b></label>
    <input
      type="text"
      placeholder="Enter username"
      id="username"
      name="username"
      required
    />
    <label for="password"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter password"
      id="password"
      name="password"
      required
    />
    <input type="submit" value="Register" class="btn" />
  </form>
</div>
