<header class="header">
  <a href="/" class="header__logo">Nodejs</a>
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Home</a>
      </li>
      <li>
        <a href="/about" class="">About</a>
      </li>
      <li>
        <a href="/contact" class="">Contact</a>
      </li>
      <li>
        <a href="/dashboard" class="">Dashboard</a>
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <button class="searchBtn" aria-expanded="true">Search 🔎</button>
  </div>
</header>
